$papugPurple: #6400eb;
$papugWhite: #f3eefe;

body {
    background-color: #fff;
    font-family: 'DMSans-Bold', 'DM Sans';
    padding-bottom: 30px;
}

a {
    color: $papugPurple;

    &:hover {
        color: inherit;
    }
}

.nav-link {
    &.active {
        background-color: $papugPurple !important;
    }
}

.btn-primary {
    background-color: $papugPurple;
    border-color: $papugPurple;
    font-weight: 700;
}

.btn-primary:focus {
  background-color: #f3eefe;
  border-color: $papugPurple;
  color: $papugPurple;
  box-shadow: 0 0 0 0.25rem rgb(90 27 238 / 50%);
}

.btn-primary:hover {
  background-color: $papugWhite;
  border-color: $papugPurple;
  color: $papugPurple;
}

.nav-link {
    width: 115%;
    text-align: center;
}

.text-primary {
  color: $papugPurple !important;
}

.form-check-input:checked {
  background-color: $papugPurple;
  border-color: $papugPurple;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba($papugPurple, 0.25);
  border-color: $papugPurple;
}

.max-50 {
    max-width: 50rem;
}

.bg-primary {
    background-color: $papugPurple !important;
}

.dl-abdtp-hour {
  white-space: nowrap !important;
}

.dl-abdtp-minute {
  white-space: nowrap !important;
}

.dl-abdtp-selected {
  background: $papugPurple !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $papugPurple;
}

.cursor-pointer {
  cursor: pointer;
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
src: url('/assets/fonts/dm-sans-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-500 - latin-ext_latin */
@font-face {
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
src: url('/assets/fonts/dm-sans-v6-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
src: local(''),
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-500.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-700 - latin-ext_latin */
@font-face {
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
src: url('/assets/fonts/dm-sans-v6-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
src: local(''),
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/dm-sans-v6-latin-ext_latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
}

  /* ubuntu-300 - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-300italic - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-300italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-regular - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-italic - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-500italic - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-500 - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-700 - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ubuntu/ubuntu-v15-latin-ext_latin-700italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
