<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-2 mb-sm-0 text-dark text-decoration-none">
        <img height="50rem" src="assets/logo.png">
      </a>
  
      <ul class="nav nav-pills col-12 col-sm-auto mb-2 justify-content-center mb-sm-0 m-0">
        <li class="nav-item mx-2"><a [routerLink]="['/alerts']" class="nav-link px-2" [ngClass]="{'active shadow': isAlerts, 'link-dark': !isAlerts}">Alerts</a></li>
      </ul>
  
  
  
  
      <div class="dropdown text-end ms-2">
        <a href="#" class="d-block link-dark text-decoration-none">
          <img src="https://s.gravatar.com/avatar/443085f094adac5b01801882405767d3?s=32"  width="32" height="32" class="rounded-circle">
        </a>
      </div>
  
    </header>
  
  
  </div>
  