<div class="container mt-3">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
        <div class="col" *ngFor="let alert of alerts">
            <app-alert-card [alert]="alert"></app-alert-card>
        </div>
    </div>
</div>