<div class="card mb-3   shadow-sm">
    <div class="bg-primary card-header text-center py-1 text-white">
        <i class="bi bi-clock-history"></i> {{timeAgo}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                <div ><i class="bi bi-clock"></i> Hour: {{alert.timeStarted.toLocaleTimeString()}}<br></div>
                <div><i class="bi bi-calendar-event"></i> Date: {{alert.timeStarted.toLocaleDateString()}}<br></div>
                <div><i class="bi bi-ethernet"></i> Device: {{alert.deviceId}}</div>
            </div>
            <div class="col-5">
                <div class="d-flex">
                    <img class="mb-1 float-center mx-auto" src="https://pdp.papug.eu/assets/devices/23.png" height="90rem">
                </div>
                <div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-success mx-1"><i class="bi bi-telephone-fill"></i></button>
                <button class="btn btn-danger mx-1"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>
